# Question No. 1:
What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

## Answer: 
**MongoDB** is a popular NoSQL document-oriented database that allows developers to store and manipulate data in a flexible and scalable way. Instead of storing data in tables with predefined schemas like in SQL databases, MongoDB stores data in collections of documents that can have different structures and fields.

**Non-relational databases**, or NoSQL databases, are databases that don't use the traditional relational model of organizing data in tables with fixed schemas. Instead, they use different models such as document-oriented, key-value, column-family, or graph-based models to store data in a more flexible and scalable way. NoSQL databases can handle large amounts of unstructured and semi-structured data that are difficult to model in a relational database.

**MongoDB is preferred over SQL databases** in scenarios where:

1. **Scalability:** MongoDB is highly scalable and can handle large amounts of data and high traffic. It uses a sharding technique to distribute data across multiple servers and allows horizontal scaling.

2. **Flexibility:** MongoDB allows developers to store data in a flexible way by using dynamic schemas that can handle data of different types and structures.

3. **Performance:** MongoDB uses indexes to query data quickly and efficiently, making it a good choice for applications that require high performance.

4. **Real-time processing:** MongoDB supports real-time data processing by providing features like real-time analytics, aggregation, and data visualization.

5. **Cloud-based applications:** MongoDB is a good fit for cloud-based applications because it can be easily deployed and managed in the cloud.

Overall, MongoDB is a good choice for applications that require scalability, flexibility, and performance, and that handle large amounts of unstructured or semi-structured data.

# Question No. 2:
State and Explain the features of MongoDB.

## Answer:
Here are some of the key features of MongoDB:

1. **Document-oriented:** MongoDB is a document-oriented database, which means it stores data in documents instead of rows and columns like in traditional relational databases. This approach allows for a more flexible schema that can accommodate varying data structures and types.

2. **Flexible schema:** MongoDB has a flexible schema that allows for dynamic and complex data structures. The schema is created on the fly and is not enforced like in SQL databases, which makes it easy to update and maintain.

3. **Indexing:** MongoDB supports indexing to improve query performance. It provides a range of index types, including compound indexes, text indexes, and geospatial indexes.

4. **Querying:** MongoDB provides a powerful and expressive query language that allows developers to retrieve, sort, filter, and aggregate data in a variety of ways.

5. **Sharding:** MongoDB supports sharding, which allows it to distribute data across multiple servers to handle large datasets and high traffic.

6. **Replication:** MongoDB supports replication, which allows it to create multiple copies of data across different servers for redundancy and high availability.

7. **GridFS:** MongoDB provides GridFS, which is a system for storing and retrieving large files, such as images or videos, in a distributed environment.

8. **ACID transactions:** MongoDB supports ACID (Atomicity, Consistency, Isolation, and Durability) transactions for multi-document operations, which ensures data consistency and integrity.

9. **Scalability:** MongoDB is highly scalable, and it can handle large datasets and high traffic through horizontal scaling.

# Question No. 3:
Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

## Answer:

1. **Connecting MongoDB to Python:**

In [6]:
import pymongo


client = pymongo.MongoClient("mongodb+srv://liskibruh:pwskills@cluster0.t5rayhz.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [7]:
db

Database(MongoClient(host=['ac-jtd4ywx-shard-00-02.t5rayhz.mongodb.net:27017', 'ac-jtd4ywx-shard-00-00.t5rayhz.mongodb.net:27017', 'ac-jtd4ywx-shard-00-01.t5rayhz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-yau2uk-shard-0', tls=True), 'test')

2. **Creating a Database:**

In [8]:
db = client['my_database']

3. **Creating Collection:**

In [9]:
collection = db['my_collection']

# Question No. 4:
Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

## Answer: 
1. **Inserting One Record:**

In [10]:
#creating record for inserting
my_data1 = {
        "user_id" : "ABCDBWN",
        "password" : "ABCDBWN",
        "date_of_join" : "15/10/2010",
        "education" : "B.C.A.",
        "profession" : "DEVELOPER",
        "interest" : "MUSIC",
        "community_name" : [
                "MODERN MUSIC",
                "CLASSICAL MUSIC",
                "WESTERN MUSIC"
        ],
        "community_moder_id" : [
                "MR. BBB",
                "MR. JJJ",
                "MR MMM"
        ],
        "community_members" : [
                500,
                200,
                1500
        ],
        "friends_id" : [
                "MMM123",
                "NNN123",
                "OOO123"
        ],
        "ban_friends_id" : [
                "BAN123",
                "BAN456",
                "BAN789"
        ]
}

In [11]:
collection.insert_one(my_data1)

2. **Inserting Many Records:**

In [12]:
#creating record for inserting
my_data2 = [
    {'Name': "Kshitij", 'Marks': 550}, 
    {'Name': "Darshan", 'Marks': 430},
    {'Name': "Sai", 'Marks': 499}
]

In [13]:
collection.insert_many(my_data2)

3. **find() to Print Inserted Records:**

In [14]:
i = 1
for each_record in collection.find():
    print('Record: ', i)
    print(each_record)
    i+=1

Record:  1
{'_id': ObjectId('63f0df28b740428905b5640d'), 'user_id': 'ABCDBWN', 'password': 'ABCDBWN', 'date_of_join': '15/10/2010', 'education': 'B.C.A.', 'profession': 'DEVELOPER', 'interest': 'MUSIC', 'community_name': ['MODERN MUSIC', 'CLASSICAL MUSIC', 'WESTERN MUSIC'], 'community_moder_id': ['MR. BBB', 'MR. JJJ', 'MR MMM']}
Record:  2
{'_id': ObjectId('63f0df4ab740428905b5640e'), 'Name': 'Bablu', 'Marks': 550}
Record:  3
{'_id': ObjectId('63f0df4ab740428905b5640f'), 'Name': 'Chintu', 'Marks': 430}
Record:  4
{'_id': ObjectId('63f0df4ab740428905b56410'), 'Name': 'Devanshu', 'Marks': 499}
Record:  5
{'_id': ObjectId('63f0e01fb740428905b56411'), 'Name': 'Bablu', 'Marks': 550}
Record:  6
{'_id': ObjectId('63f0e01fb740428905b56412'), 'Name': 'Chintu', 'Marks': 430}
Record:  7
{'_id': ObjectId('63f0e01fb740428905b56413'), 'Name': 'Devanshu', 'Marks': 499}
Record:  8
{'_id': ObjectId('63f0e0d330a10258c00000c3'), 'user_id': 'ABCDBWN', 'password': 'ABCDBWN', 'date_of_join': '15/10/2010', 'education': 'B.C.A.', 'profession': 'DEVELOPER', 'interest': 'MUSIC', 'community_name': ['MODERN MUSIC', 'CLASSICAL MUSIC', 'WESTERN MUSIC'], 'community_moder_id': ['MR. BBB', 'MR. JJJ', 'MR MMM']}
Record:  9
{'_id': ObjectId('63f0e0d530a10258c00000c4'), 'Name': 'Bablu', 'Marks': 550}
Record:  10
{'_id': ObjectId('63f0e0d530a10258c00000c5'), 'Name': 'Chintu', 'Marks': 430}
Record:  11
{'_id': ObjectId('63f0e0d530a10258c00000c6'), 'Name': 'Devanshu', 'Marks': 499}
Record:  12
{'_id': ObjectId('63f0e16530a10258c00000c7'), 'Name': 'Bablu', 'Marks': 550}
Record:  13
{'_id': ObjectId('63f0e16530a10258c00000c8'), 'Name': 'Chintu', 'Marks': 430}
Record:  14
{'_id': ObjectId('63f0e16530a10258c00000c9'), 'Name': 'Devanshu', 'Marks': 499}
Record:  15
{'_id': ObjectId('63f0e16530a10258c00000ca'), 'Name': 'sunita', 'Marks': 430}
Record:  16
{'_id': ObjectId('63f0e1b230a10258c00000cb'), 'Name': 'Bablu', 'Marks': 550}
Record:  17
{'_id': ObjectId('63f0e1b230a10258c00000cc'), 'Name': 'Chintu', 'Marks': 430}
Record:  18
{'_id': ObjectId('63f0e1b230a10258c00000cd'), 'Name': 'Devanshu', 'Marks': 499}
Record:  19
{'_id': ObjectId('63f0e1b230a10258c00000ce'), 'Name': 'sunita', 'Marks': 430}
Record:  20
{'_id': ObjectId('63f0e21030a10258c00000cf'), 'user_id': 'ABCDBWN', 'password': 'ABCDBWN', 'date_of_join': '15/10/2010', 'education': 'B.C.A.', 'profession': 'DEVELOPER', 'interest': 'MUSIC', 'community_name': ['MODERN MUSIC', 'CLASSICAL MUSIC', 'WESTERN MUSIC'], 'community_moder_id': ['MR. BBB', 'MR. JJJ', 'MR MMM']}
Record:  21
{'_id': ObjectId('63f0e21430a10258c00000d0'), 'Name': 'Bablu', 'Marks': 550}
Record:  22
{'_id': ObjectId('63f0e21430a10258c00000d1'), 'Name': 'Chintu', 'Marks': 430}
Record:  23
{'_id': ObjectId('63f0e21430a10258c00000d2'), 'Name': 'Devanshu', 'Marks': 499}
Record:  24
{'_id': ObjectId('63f0e21430a10258c00000d3'), 'Name': 'sunita', 'Marks': 430}
Record:  25
{'_id': ObjectId('63f0e2f830a10258c00000d5'), 'Name': 'aarti', 'Marks': 550}
Record:  26
{'_id': ObjectId('63f0e2f830a10258c00000d6'), 'Name': 'jyoti', 'Marks': 430}
Record:  27
{'_id': ObjectId('63f0e2f830a10258c00000d7'), 'Name': 'kirti', 'Marks': 499}
Record:  28
{'_id': ObjectId('63f0e2f830a10258c00000d8'), 'Name': 'mamta', 'Marks': 430}
Record:  29
{'_id': ObjectId('63f76b6b7c22c874754ae791'), 'user_id': 'ABCDBWN', 'password': 'ABCDBWN', 'date_of_join': '15/10/2010', 'education': 'B.C.A.', 'profession': 'DEVELOPER', 'interest': 'MUSIC', 'community_name': ['MODERN MUSIC', 'CLASSICAL MUSIC', 'WESTERN MUSIC'], 'community_moder_id': ['MR. BBB', 'MR. JJJ', 'MR MMM'], 'community_members': [500, 200, 1500], 'friends_id': ['MMM123', 'NNN123', 'OOO123'], 'ban_friends_id': ['BAN123', 'BAN456', 'BAN789']}
Record:  30
{'_id': ObjectId('63f76b7f7c22c874754ae792'), 'Name': 'Kshitij', 'Marks': 550}
Record:  31
{'_id': ObjectId('63f76b7f7c22c874754ae793'), 'Name': 'Darshan', 'Marks': 430}
Record:  32
{'_id': ObjectId('63f76b7f7c22c874754ae794'), 'Name': 'Sai', 'Marks': 499}

4. **find_one() to Print Inserted Records:**

In [15]:
collection.find_one()

{'_id': ObjectId('63f0df28b740428905b5640d'),
 'user_id': 'ABCDBWN',
 'password': 'ABCDBWN',
 'date_of_join': '15/10/2010',
 'education': 'B.C.A.',
 'profession': 'DEVELOPER',
 'interest': 'MUSIC',
 'community_name': ['MODERN MUSIC', 'CLASSICAL MUSIC', 'WESTERN MUSIC'],
 'community_moder_id': ['MR. BBB', 'MR. JJJ', 'MR MMM']}

# Question No. 5: 
Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

## Answer:
The find() method is used to query data from a collection in MongoDB.

Here is an example of how to use the find() method in Python to query a MongoDB database:

In [16]:
for each_record in collection.find({'Name':'Kshitij'}):
    print(each_record)

{'_id': ObjectId('63f76b7f7c22c874754ae792'), 'Name': 'Kshitij', 'Marks': 550}

In the above example, i am using the find() method to query the records that contains 'Name':'Bablu' from the collection that i created in the previous question.

# Question No. 6:
Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

## Answer:
The sort() method in MongoDB is used to sort the documents in a collection based on one or more fields. It takes one or more field names as arguments and sorts the documents in ascending or descending order based on the values in the specified fields.

Here is an example of how to use the sort() method in MongoDB to sort the documents in a collection:

In [17]:
i = 0
for each_record in collection.find().sort('Name',1):
    print('Record: ',i)
    print(each_record)
    i+=1

Record:  0
{'_id': ObjectId('63f0df28b740428905b5640d'), 'user_id': 'ABCDBWN', 'password': 'ABCDBWN', 'date_of_join': '15/10/2010', 'education': 'B.C.A.', 'profession': 'DEVELOPER', 'interest': 'MUSIC', 'community_name': ['MODERN MUSIC', 'CLASSICAL MUSIC', 'WESTERN MUSIC'], 'community_moder_id': ['MR. BBB', 'MR. JJJ', 'MR MMM']}
Record:  1
{'_id': ObjectId('63f0e0d330a10258c00000c3'), 'user_id': 'ABCDBWN', 'password': 'ABCDBWN', 'date_of_join': '15/10/2010', 'education': 'B.C.A.', 'profession': 'DEVELOPER', 'interest': 'MUSIC', 'community_name': ['MODERN MUSIC', 'CLASSICAL MUSIC', 'WESTERN MUSIC'], 'community_moder_id': ['MR. BBB', 'MR. JJJ', 'MR MMM']}
Record:  2
{'_id': ObjectId('63f0e21030a10258c00000cf'), 'user_id': 'ABCDBWN', 'password': 'ABCDBWN', 'date_of_join': '15/10/2010', 'education': 'B.C.A.', 'profession': 'DEVELOPER', 'interest': 'MUSIC', 'community_name': ['MODERN MUSIC', 'CLASSICAL MUSIC', 'WESTERN MUSIC'], 'community_moder_id': ['MR. BBB', 'MR. JJJ', 'MR MMM']}
Record:  3
{'_id': ObjectId('63f76b6b7c22c874754ae791'), 'user_id': 'ABCDBWN', 'password': 'ABCDBWN', 'date_of_join': '15/10/2010', 'education': 'B.C.A.', 'profession': 'DEVELOPER', 'interest': 'MUSIC', 'community_name': ['MODERN MUSIC', 'CLASSICAL MUSIC', 'WESTERN MUSIC'], 'community_moder_id': ['MR. BBB', 'MR. JJJ', 'MR MMM'], 'community_members': [500, 200, 1500], 'friends_id': ['MMM123', 'NNN123', 'OOO123'], 'ban_friends_id': ['BAN123', 'BAN456', 'BAN789']}
Record:  4
{'_id': ObjectId('63f0df4ab740428905b5640e'), 'Name': 'Bablu', 'Marks': 550}
Record:  5
{'_id': ObjectId('63f0e01fb740428905b56411'), 'Name': 'Bablu', 'Marks': 550}
Record:  6
{'_id': ObjectId('63f0e0d530a10258c00000c4'), 'Name': 'Bablu', 'Marks': 550}
Record:  7
{'_id': ObjectId('63f0e16530a10258c00000c7'), 'Name': 'Bablu', 'Marks': 550}
Record:  8
{'_id': ObjectId('63f0e1b230a10258c00000cb'), 'Name': 'Bablu', 'Marks': 550}
Record:  9
{'_id': ObjectId('63f0e21430a10258c00000d0'), 'Name': 'Bablu', 'Marks': 550}
Record:  10
{'_id': ObjectId('63f0df4ab740428905b5640f'), 'Name': 'Chintu', 'Marks': 430}
Record:  11
{'_id': ObjectId('63f0e01fb740428905b56412'), 'Name': 'Chintu', 'Marks': 430}
Record:  12
{'_id': ObjectId('63f0e0d530a10258c00000c5'), 'Name': 'Chintu', 'Marks': 430}
Record:  13
{'_id': ObjectId('63f0e16530a10258c00000c8'), 'Name': 'Chintu', 'Marks': 430}
Record:  14
{'_id': ObjectId('63f0e1b230a10258c00000cc'), 'Name': 'Chintu', 'Marks': 430}
Record:  15
{'_id': ObjectId('63f0e21430a10258c00000d1'), 'Name': 'Chintu', 'Marks': 430}
Record:  16
{'_id': ObjectId('63f76b7f7c22c874754ae793'), 'Name': 'Darshan', 'Marks': 430}
Record:  17
{'_id': ObjectId('63f0df4ab740428905b56410'), 'Name': 'Devanshu', 'Marks': 499}
Record:  18
{'_id': ObjectId('63f0e01fb740428905b56413'), 'Name': 'Devanshu', 'Marks': 499}
Record:  19
{'_id': ObjectId('63f0e0d530a10258c00000c6'), 'Name': 'Devanshu', 'Marks': 499}
Record:  20
{'_id': ObjectId('63f0e16530a10258c00000c9'), 'Name': 'Devanshu', 'Marks': 499}
Record:  21
{'_id': ObjectId('63f0e1b230a10258c00000cd'), 'Name': 'Devanshu', 'Marks': 499}
Record:  22
{'_id': ObjectId('63f0e21430a10258c00000d2'), 'Name': 'Devanshu', 'Marks': 499}
Record:  23
{'_id': ObjectId('63f76b7f7c22c874754ae792'), 'Name': 'Kshitij', 'Marks': 550}
Record:  24
{'_id': ObjectId('63f76b7f7c22c874754ae794'), 'Name': 'Sai', 'Marks': 499}
Record:  25
{'_id': ObjectId('63f0e2f830a10258c00000d5'), 'Name': 'aarti', 'Marks': 550}
Record:  26
{'_id': ObjectId('63f0e2f830a10258c00000d6'), 'Name': 'jyoti', 'Marks': 430}
Record:  27
{'_id': ObjectId('63f0e2f830a10258c00000d7'), 'Name': 'kirti', 'Marks': 499}
Record:  28
{'_id': ObjectId('63f0e2f830a10258c00000d8'), 'Name': 'mamta', 'Marks': 430}
Record:  29
{'_id': ObjectId('63f0e16530a10258c00000ca'), 'Name': 'sunita', 'Marks': 430}
Record:  30
{'_id': ObjectId('63f0e1b230a10258c00000ce'), 'Name': 'sunita', 'Marks': 430}
Record:  31
{'_id': ObjectId('63f0e21430a10258c00000d3'), 'Name': 'sunita', 'Marks': 430}

In the above example i am sorting the records in ascending order based on the ___Name___ field.

# Question No. 7:
Explain why delete_one(), delete_many(), and drop() is used.

## Answer:
1. **delete_one():** This method deletes a single document from a collection that matches the specified criteria. If multiple documents match the criteria, only the first matching document is deleted. This method is useful when you want to delete a specific document from the collection.

In [18]:
#delete a single document/record
collection.delete_one({'Name':'Kshitij'})

2. **delete_many():** This method deletes all documents from a collection that match the specified criteria. This method is useful when you want to delete multiple documents from the collection.

In [19]:
# delete multiple documents/records
collection.delete_many({'Marks':{'$gt': 400}}) #where marks is greater than 400

3. **drop():** This method deletes an entire collection, including all of its documents and indexes. This method is useful when you want to completely remove a collection from the database.

In [20]:
# drop the collection
collection.drop()