In [3]:
#question1
Marks = int(input("Enter Your Marks: "))
if Marks > 90 :
    print("Grade : A")
elif Marks >80 and Marks<=90:
    print("Grade : B")
elif Marks >=60 and Marks<=80:
    print("Grade : C")
else:
    print("Grade : D")

Enter Your Marks: 85
Grade : B

In [4]:
#question2
price = int(input("Enter the cost price of your bike: "))
tax = None
if price<=50000:
    tax=price*0.05
elif price>50000 and price<=100000:
    tax=price*0.10
else:
    tax=price*0.15
print('The amount of tax that you have to pay is',tax)

Enter the cost price of your bike: 60000
The amount of tax that you have to pay is 6000.0

In [5]:
#question3
city =str(input("Enter the name of the city: "))
if city=='Delhi'or city=='delhi':
    print("Red Fort")
elif city=='Agra' or city=='agra':
    print("Taj Mahal")
elif city=='Jaipur' or city=='jaipur':
    print("Jal Mahal")
else:
    pass

Enter the name of the city: Jaipur
Jal Mahal

In [6]:

#question4
num = int(input("Enter a number = "))
count= 0
while num>=10:
    num =num/3;
    count +=1
print('Number of Times=',count)

Enter a number = 90
Number of Times= 2

In [7]:
#question5
#The while loop executes a set of statements as long as a condition is true.
i = 1
while i < 5:
    print("Hello world")
    i = i + 1

Hello world
Hello world
Hello world
Hello world

In [1]:
# question 5 Why and when to use while loop in python give a detailed description with example?
'''
Python while loop is used to run a block code until a certain condition is met.

The syntax of while loop is:

while condition:
    # body of while loop


* A while loop evaluates the condition
* If the condition evaluates to True, the code inside the while loop is executed.
* condition is evaluated again.
* This process continues until the condition is False.
* When condition evaluates to False, the loop stops.
'''
# Example
# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [8]:
#question6
print("1st\n")
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1
    
    
print('\n2nd\n')
#n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

print('\n3rd\n')

i = 1
while i <= n:
    j = i
    while j < n:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = n
while i >= 1:
    j = i
    while j <= n:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

1st

Enter number of rows : 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

2nd

* * * * * *
* * * * *
* * * *
* * *
* *
*

3rd

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

In [9]:
#question7&8
num=10
while num>0:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

1